/*****************
  Reusable Styles 
 *****************/
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
    h1,h2,h3,h4,h5,h6 {
      padding: 0;
      margin: 0;
    }


/************ 
 Grid Layout
*************/
.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

/***********
 Navigation 
************/
  .nav-main {
    background-color: #EAEBE4;
    border: solid 1px #504B44;
    height: 5vh;
    /* padding: .4rem 0; */
  }

 /* Navigation Header */
 .nav-header {
   margin-right: auto;
   text-transform: uppercase;
   font-size: 1.2rem;
   letter-spacing: .05rem;
 } 

 .nav-header a {
   /* display: block; */
   text-decoration: none;
 }
 

 /* Navigation Links */
 .nav-main ul {
   display:grid;
   grid-template-columns: repeat(4, auto);
   /* grid-gap: 10px; */
   /* margin: 0; */
   list-style: none;
   font-size: .75rem;
   justify-items: center;
   align-items: center;
  }
  
  .nav-main .link a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: .5rem 0;
  }

  .nav-main .link{
    color: #504B44;
  }
  
  .nav-main .link a:link,
  .nav-main .link a:visited{
    color: #CBC9BE;
  }

  .nav-main .nav-header a:link,
  .nav-main .nav-header a:visited {
    color: #504b44;
  }
  
  .nav-main .link a:hover,
  .nav-main .link a:active {
    color: #78746C;
    border-bottom: solid 1px #8F8C80;
    padding-bottom: .2rem;
    transition: all .15s ease-in;
 }

 .nav-main ul .link .current-page {
   color: #504b44;
   border-bottom: solid 2px #ABA89C;
   padding-bottom: .2rem;
   border-bottom-style: ridge;
   border-radius: .25rem;
 }

/******************************** 
 Display Window & Code Generator
********************************/


.display-window {
  display: grid;
  /* grid-template-columns: minmax(1180px, 1280px); */
  height: 70vh;
  /* width: 100vw; */
  background: #ccc;
  background-size: cover;
  grid-template-areas:
  '. . . . . bgcgen'; 
}

.bg-code-gen {
  display: grid;
  grid-area: bgcgen;
  /* background: #BAB7AD; */
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 30px;
  /* align-content: center; */
  grid-template-areas:
  '. . . . . . .'
  '. . . . codebtn . .'
  '. . . . . . .'
  'bgcwrap bgcwrap bgcwrap bgcwrap bgcwrap bgcwrap .'
  'bgcwrap bgcwrap bgcwrap bgcwrap bgcwrap bgcwrap .'
  'bgcwrap bgcwrap bgcwrap bgcwrap bgcwrap bgcwrap .'
  '. . . . . . .';
   
}

.bg-code-wrapper {
  display: none;
  grid-area: bgcwrap;
  grid-gap: 1rem;
  align-content: flex-end;
  grid-template-areas:
  'codelab codelab codelab codelab'
  '. copybtn close . '
  '. bgcode bgcode .'
  '. bgcode bgcode .';  
}

/* Code Generator Buttons */

.copy-btn,
.code-gen-btn,
.close-gen-btn {
  /* grid-gap: 0; */
  height: 30px;
  /* max-height: 35px; */
  outline: none;
  font-size: .7rem;
  text-transform: uppercase;
  padding: 0 1rem;
  background: #CBC9BE;
  color: #504b44;
  border: solid 1px #504B44;
  border-radius: 10px;
  /* box-shadow: 0 2px 5px #8F8C80; */
}

.code-gen-btn {
  display: grid;
  grid-area: codebtn;
}

.copy-btn {
  display: grid;
  grid-area: copybtn;
  /* align-content: end; */
  /* grid-template-columns: auto; */
}

.close-gen-btn {
  display: grid;
  grid-area: close;
}

/* .bg-code-label {
  display: grid;
  grid-area: codelab;
  justify-items: center;
  align-content: center; 
  font-size: 1rem;
  text-transform: uppercase;
  font-color
  grid-template-columns: 15rem;
} */

.bg-code {
  display: grid;
  grid-area: bgcode;
  align-content: center;
}

/* .toggle-on {
  display: grid;
}

.toggle-off {
  display: none;
} */

/*************** 
  GUI Controls
  ***************/
/* Grid area classes */
.slabel {
  grid-area: slabel;
}

.sradio {
  grid-area: sradio;
}

.llabel {
  grid-area: llabel;
}

.lradio { 
  grid-area: lradio;
}

.rlabel {
  grid-area: rlabel;
}

.rradio {
  grid-area: rradio;
}

.slabel,
.llabel,
.rlabel,
.sradio,
.lradio,
.rradio {
  justify-self: center;
}
    
    .color1 {
      grid-area: color1;
    }
    
    .color2 {
      grid-area: color2;
    }
    
    .c1label {
      grid-area: c1label;
    }
    
    .c2label {
      grid-area: c2label;
    }
    
    .directopt {
      grid-area: directopt;
    }
    
    .gdhead {
      grid-area: gdhead;
    }
    
    .chead {
      grid-area: chead;
    }
    
    .glabel {
      grid-area: glabel;
    }

    #controls {
      display: grid;
      grid-template-columns: repeat(auto-fit, 100%);
      grid-gap: 20px;
      background-color: #BAB7AD;
      /* border: solid .5px #504B44; */
      grid-template-areas: 
      'grad cpick direct';
    }
    
    .container {
      height: 20vh;
      display: flex;
  flex-wrap: nowrap;
  
}

/* Header Styles */
.gradient-header,
.color-header,
.gradient-dir-header {
  font-size: 1.3rem;
  font-weight: 100;
  margin-bottom: .5rem;
  border-bottom: solid 2px #504b44;
  padding-bottom: .7rem;
  text-align: center;
  padding: .2rem 0;
  background: #CBC9BC;
  color: white;
  text-shadow: 1.5px 1.5px 2px #ABA89C;
  height: 4vh;
}

/* Gradient Controls */
.gradient-container {
  display: grid; 
  grid-area: grad;
  grid-row-gap: 1rem;
  /* align-items: center; */
  padding-bottom: 1rem;
  background: #EAEBE4;
  border-top: solid 1px #504b44;
  border-bottom: solid 1px #504b44;
  border-left: solid 1px #504b44;
  width: 33.3%;
  /* padding: 2rem; */
  font-size: 1.2rem;
  font-weight: 100;
  color: #78746C;
  grid-template-areas:
  'ghead ghead ghead ghead ghead' 
  '. slabel llabel rlabel .'
  '. sradio lradio rradio. ';
}


.gradient-header {
  grid-area: ghead;
  display: grid;
  align-items: center;
}



.control-gradient {
  /* display: inline-block; */
  font-size: 1.2rem;
  font-weight: 100;
  color: #78746C;
  /* letter-spacing: -2rem; */
  /* margin: -3rem 0; */
  justify-self: center;
  /* border: solid 1px #555; */
}

/* Color Pickers */
.color-container {
  grid-area: cpick;
  display: grid;
  grid-row-gap: 1rem;
  width: 33.3%;
  /* height: 13vh; */
  text-align: center;
  background: #EAEBE4;
  border-top: solid 1px #504b44;
  border-bottom: solid 1px #504b44;
  border-left: solid 1px #504b44;
  padding-bottom: 1rem;
  grid-template-areas:
  'chead chead chead chead chead chead chead chead'
  '. . . c1label c2label . . .'
  '. . . color1 color2 . . .'
}

.color-header {
  display: grid;
  align-items: center;
  /* padding: .32rem 0; */
  /* margin-bottom: .5rem; */
}

.color-controls {
  justify-self: center;
  /* align-content: center; */
}

.c1label,
.c2label {
  display: grid;
  align-content: center;
  font-size: 1rem;
  /* font-weight: 100; */
  text-transform: uppercase;
  color: #78746C;
}

/* gradient direction */
.gradient-dir-header {
  display: grid;
  align-items: center;
  /* padding-bottom: .01rem; */
}

.gradient-dir-container {
  grid-area: direct;
  display: grid;
  grid-gap: 1rem;
  width: 33.3%;
  /* height: 13vh; */
  text-align: center;
  background: #EAEBE4;
  border: solid 1px #504B44;
  padding-bottom: 1rem;
  grid-template-areas: 
  'gdhead gdhead gdhead'
  'grlabel grlabel grlabel'
  'select select select';
}

.grad-dir-label{
  display: grid;
  grid-area: grlabel;
  justify-content: center;
  font-size: 1rem;
  font-weight: 100;
  color: #78746C;
}

.custom-selector{
  display: grid;
  grid-area: select;
  justify-content: center;
  /* padding-bottom: 1rem */
  /* align-content: start; */
  
}

.custom-selector .direction-opts{
  padding: .2rem 4rem;
  margin: -.3rem 0;
  font-size: 1.2rem;
  letter-spacing: .05rem;
  background: #555;
  color: white;
  appearance: none;
  border: none;
  outline: none;
  border-radius: .5rem;
}

/********** 
  Footer
**********/
.bg-gen-footer {
  display: grid;
  grid-gap: 0;
  justify-content: center;
  align-items: center;
  height: 4.8vh;
  background: #ABA89C;
}

.bg-gen-footer {
  font-size: .8rem;
  color: #fff;
}

/* Hover Effects */

/******************** 
 Javascript use only
********************/
/* Gradient Controls */



/*************** 
 Color Controls
***************/
/* Color B */
.color-b-display {
  display: none;
}